@media only screen and (min-width 1025px)
	headerHeight = 100px
	_width = 800px
	header
		height headerHeight
		#logo
			width "calc( (100% - %s) / 2)" % _width
			h3
				font-size 1.65em
				margin-top 50px
				margin-left 45px
		#navbar ul
			li
				height headerHeight
	#header-padding
		height headerHeight
	.page
		width _width
		padding "150px calc( (100% - %s) / 2)" % _width