headerHeight = 70px
padding-std = 40px
animationTime = 0.5s

body
	margin 0px
	padding 0px
	width 100%
	background-color rgba(0,0,0,0)
	
	
/*
 *	HEADER
 */
 
.page, header
	padding 0 padding-std
	width "calc(100% - %s * 2)" % padding-std
.red 
	background-color red
.blue 
	background-color blue
.red, .blue, .black
		color white
	.title
		border-color white
.black
	background-color #1a1b20
header
	position fixed
	background rgba(255,255,255,0.95)
	overflow hidden
	transition all animationTime
	z-index 3
	height headerHeight
	border-bottom 1px solid rgba(50,50,50,0.2)
	#logo
		line-height "calc(%s - 35px)" % headerHeight
		float left
		display inline-block
		cursor pointer
		width 125px
		height 100%
		h3
			margin-top 25px
			height inherit
	#navbar
		float left
		display inline-block
		width 100px
		height headerHeight
		line-height "calc(%s - 35px)" % headerHeight
		transition all animationTime ease-out
		hr 
			position absolute
			top -100px
			left 00px
			width 100%
		ul
			list-style-type none
			margin 0px
			padding 0px
			li 
				height headerHeight
				p
					font-family 'Montserrat', sans-serif
					font-weight 200
					font-size 1.1em
					margin 0px
					margin-top 25px
					cursor pointer
	
/*
 *	CONTENT
 */

#header-padding
	height headerHeight
#header-img
	background url("img/headerImg-3-micro.jpg") no-repeat center headerHeight
	background-attachment fixed
	height 200px

.page
	padding padding-std
	text-align center
	.content
		margin-top 0px
.intro
	margin-bottom 35px
	margin-top 25px
.title
	border-bottom 1.5px solid grey

.module
	display none
	table
		tr
			display flex
			flex-wrap wrap
		td
			margin 0
			width 100%
			vertical-align top
.active
	display block

/*
 *	FOOTER
 */

#footer
	text-align left
	color #fff
	h3
		font-weight 300
		font-family 'Josefin Sans', sans-serif

@media only screen and (min-width 570px)
	#header-img
		background-image url("img/headerImg-3-mini.jpg")
		height 250px