

@media only screen and (min-width 768px)
	headerHeight = 100px
	paddingStd = 125px
	#header-img
		background url("img/headerImg-3-medium.jpg") no-repeat center headerHeight
		background-attachment fixed
		height 300px
	header
		height headerHeight
		#logo
			width (100% / 2.5)
			h3
				margin-top 30px
		#navbar ul
			li
				height headerHeight
	#header-padding
		height headerHeight
	.page
		padding paddingStd
		width "calc(100% - %s * 2)" % paddingStd
		
	.module
		table
		tr
			display initial
			td
				width calc(50% - 20px)
				padding 0px 10px
				text-align right
			td:nth-child(even)
				text-align left