headerHeight = 70px
padding-std = 20px
animationTime = 0.5s

body
	margin 0px
	padding 0px
	width 100%
	
@import "layout/fonts"
	
/*
 *	HEADER
 */
 
section, header
	padding 0 padding-std
	width "calc(100% - %s * 2)" % padding-std 
header
	overflow hidden
	transition all animationTime
	z-index 3
	background white
	height headerHeight
	#logo
		line-height "calc(%s - 25px)" % headerHeight
		float left
		display inline-block
		cursor pointer
		width 125px
		height 100%
		h3
			margin-top 25px
			height inherit
	#navbar
		float left
		display inline-block
		width 100px
		height headerHeight
		line-height "calc(%s - 25px)" % headerHeight
		transition all animationTime ease-out
		hr 
			position absolute
			top -100px
			left 00px
			width 100%
		ul
			list-style-type none
			margin 0px
			padding 0px
			li 
				height headerHeight
				p
					font-family 'Montserrat', sans-serif
					font-weight 200
					font-size 1.1em
					margin 0px
					margin-top 25px
					cursor pointer
	
/*
 *	CONTENT
 */

#header-padding
	padding 0
#header-img
	background url("img/headerImg-2-mini.jpg") no-repeat center center
	height 250px

.page
	text-align center
	margin-bottom:100px
	.title
		h1
			margin 20px
	.content
		margin-top 0px

/*
 *	FOOTER
 */
 

#footer
	padding 20px
	text-align left
	color #fff
	background-color #1a1b20
	min-height calc(100vh - 140px)
	margin 50px 0px 0px 0px
	h3
		font-weight 300
		font-family 'Josefin Sans', sans-serif


@media only screen and (min-width 769px)
	headerHeight = 100px
	h1
		font-size 4em
	h2
		font-size 3em
	h3
		font-size 2em
	p
		font-size 1.6em
	header
		position fixed
		top 0px
		height headerHeight
		#logo
			width (100% / 2.5)
			h3
				margin-top 30px
		#navbar ul
			li
				height headerHeight
				h3
					font-size 2em
					margin-top 35px
	#header-padding
		height headerHeight
	#header-img
		background-attachment fixed
		background-position 0 headerHeight
		background-size 100%
	width = 750px
	margin = calc( (100% - 750px) / 2 )
	#body
		padding-top 60px
		.container
			width width
			margin-left margin
			margin-right margin
				.page .content-wrap
					display flex
					flex-wrap wrap
					.content
						padding 25px
						width calc(50% - 50px)
						text-align left
					.left
						text-align right
	.ingress p
		font-size 2em
	#footer
		min-height calc(100vh - 200px)
@media only screen and (min-width 1024px)
	width = 1000px
	margin = calc( (100% - 1000px) / 2 )
	.container
		width width
		margin-left margin
		margin-right margin
		.page .intro.ingress
			text-align justify
			display flex
			flex-wrap wrap
			.left-p
				width calc(50% - 25px)
				padding-right 25px
			.right-p
				width calc(50% - 25px)
				padding-left 25px
	