extends static/layout.pug
block bodyBox
  include static/header.pug
  //- section#header-img
  include index/introduction.pug
    - var page=activePage.sections[1], color="#1a1b20";
  include modules/angled-line.pug

  - page = activePage.sections[2], color="white";
  include index/xp.pug
  - var page=activePage.sections[1], color="#1a1b20";
  include index/clients.pug
    - page = activePage.sections[3], color="blue";
  include static/footer.pug

      
